<div class="card panelChat">
  <div class="card-header text-center bg-warning">
    Chat
  </div>
  <div class="card-body">
    <h5 class="card-title">Chats show up here</h5>
    <p class="card-text">TODO: firebase integration</p>
  </div>
  <div class="card-footer text-muted input-group">
      <input type="text" class="form-control" placeholder="Enter message here..." aria-label="chat" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" id="button-addon2">Send</button>
      </div>
  </div>
</div>
