<div class="main-login main-center">
  <form class="form-horizontal" method="post" action="#">

    <div class="form-group">
      <label for="name" class="cols-sm-2 control-label">Your Full Name</label>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Enter Full Name" aria-label="fullName" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="cols-sm-2 control-label">Your Email</label>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Enter Email Id" aria-label="email" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="form-group">
      <label for="username" class="cols-sm-2 control-label">Username</label>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-users fa" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Enter your Username" aria-label="username" aria-describedby="basic-addon1"
          name="username" id="username">
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="cols-sm-2 control-label">Password</label>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Enter your Password" aria-label="password" aria-describedby="basic-addon1"
          name="password" id="password">
      </div>
    </div>

    <div class="form-group">
      <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Confirm your Password" aria-label="confirmPassword" aria-describedby="basic-addon1"
          name="confirmPassword" id="confirmPassword">
      </div>
    </div>

    <div class="form-group ">
      <button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
    </div>
    <div class="login-register">
      <a routerLink="login">Login</a>
    </div>
  </form>
